/* Button Styles */
button {
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    padding: 5px 20px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.create-button {
    background-color: rgb(30, 30, 30);
    border-color: black;
    color: white;
}

.create-button:hover {
    background-color: black;
}

.delete-button {
    background-color: rgb(255, 61, 61);
    border-color: red;
    color: white;
}

.delete-button:hover {
    background-color: red;    
}

.back-button {
    background-color: white;
    border-color: black;
    color: black;
}

.back-button:hover {
    background-color: black;
    color: white;    
}

.submit-button {
    background-color: rgb(2, 172, 2);
    border-color: green;
    color: white;
}

.submit-button:hover {
    background-color: green;  
}

/* List Styles */
.list {
    margin: 10px;
}

.list-header {
    font-size: 2em;
}

.item {
    margin: 10px;
    background-color: rgb(177, 177, 177);
    border: 3px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

/* Form Styles */
.form-header {
    font-size: 2em;
    font-weight: bold;
}

.label {
    font-size: 1.2em;
    font-weight: bold;
    
}

.input {
    border: 3px solid black;
    border-radius: 25px;
    padding: 3px 10px;
    margin: 5px 0px 15px 0px;
}